* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #fdfbf5;
  --secondary_color: #191919;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Syne", "Inter", sans-serif;
  color: var(--secondary_color);
}
p {
  font-family: "Satoshi", "Poppins", sans-serif;
}

body {
  background-color: var(--primary_color);
  padding: 0.8rem;
}

main {
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary_color);
  padding: 1.2rem 1.6rem;
}

/* Navigation Bar */


.top_nav {
  width: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.logo {
  font-weight: 500;
}
.divider_top_nav {
  width: 1rem;
  height: 0.8px;
  background-color: var(--secondary_color);
}
.My_name {
  font-size: 0.85rem;
  opacity: 0.9;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
}
.divider_nav {
  width: 100%;
  padding: 0.4px;
  background-color: var(--secondary_color);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
.menu > a {
  color: var(--secondary_color);
  text-decoration: none;
}

/* Hero Section */
.hero {
  margin-top: 5rem;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
}
.hero p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.hero video {
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  border-radius: 20px;
}

/* Our Services */

.Our_Services {
  width: 100%;
  margin-top: 2rem;
}
.Our_Services h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 01rem;
  font-weight: 400;
  letter-spacing: -0.01rem;
  word-spacing: -0.3rem;
  text-align: center;
  text-transform: uppercase;
}
.hori_divi {
  display: none;
}
.marquee {
  margin-top: 2rem;
  display: flex;
  gap: 0rem;
  overflow: hidden;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.images {
  display: flex;
  align-items: center;
  gap: 0rem;
  transform: translateX(-500px);
  animation: marquee 10s linear infinite both;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee img {
  width: 5rem;
  margin: 0 2rem;
  object-fit: contain;
}
.divider_nav_dark {
  width: 100%;
  background-color: var(--secondary_color);
}

/* What we do */
.what_we_do .branding{
  margin: 2rem 0;
}
.what_we_do .design{
  margin: 2rem 0;
}
.what_we_do .branding1{
  margin: 2rem 0;
}
.what_we_do .design1{
  margin: 2rem 0;
}
.what_we_do h3 {
  display: none;
}
.branding img {
  width: 3rem;
  rotate: 45deg;
}
.what_we_do h1 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.what_we_do p {
  font-weight: 300;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
  opacity: 0.9;
}
.design img {
  margin-top: 0.4rem;
  width: 3.6rem;
  rotate: 135deg;
}
.branding1 img {
  width: 3.8rem;
}
.design1 img {
  margin-top: 0.3rem;
  width: 4rem;
}

/* Featured Work */

.feature_work{
  padding: 2rem 0;
}
.featured h2{
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  /* margin-top: 2rem; */
}
.featured p{
  margin: 0.8rem 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;
}
.featured h4{
  display: inline;
  background-color: var(--secondary_color);
  color: var(--primary_color);
  font-weight: 300;
  letter-spacing: 0.2rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.feature_work .divider_nav{
  margin: 2.5rem 0 0 0;
}

.work_card img{
  width: 100%;
  border-radius: 1rem;
}
.work_card{
  margin: 2rem 0 0 0;
}
.work_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work_info h3{
  font-size: 1.5rem;
  font-weight:500;
  letter-spacing: 0.05rem;
  margin: 0.5rem 0;
}
.work_info p{
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}


/* Our Services */
.our_values .divider_nav1{
  display: none;
}
.our_image .divider_nav{
  display: block;
}
.our_values h1{
  font-size: 2.3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0;
}
.our_values img{
  margin: 2rem 0 0 0;
  width: 100%;
  border-radius: 1rem;
}
.our{
  display: flex;
  align-items: start;
  justify-content: start;
  margin:  2rem 0;
  gap: 1rem;
}
.our h4{
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 50px;
  border: var(--secondary_color) solid 1px;
  height: 1%;
  padding: 0.5rem;
  margin: 0.2rem 1rem;
}
.our_text h3{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.our_text p{
  font-weight: 300;
  font-size: 1rem;
}


/* Footer */
.info{
  margin: 2rem 0;
}
.info h1{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.info p{
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.4rem;
  margin-bottom: 4rem;
}
.country{
  display: flex;
  gap: 1rem;
}
.country h3{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 25px;
  border: var(--secondary_color) solid 1px;
}

.foot{
  margin: 2rem 0;
}
.foot h3{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.foot p{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin-bottom: 1rem;
}
.foot h4{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  background-color: var(--secondary_color);
  padding: 0.6rem 1rem;
  color: var(--primary_color);
  border-radius: 5px;
  width: 41.5%;
  margin-top: 2rem;
}
.last h3{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 1rem;
}
.pLinks{
  display: flex;
  justify-content: center;
  gap: 2rem;
}







/* For Tablet */

@media screen and (min-width: 768px) {
  body {
    padding: 0.8rem;
  }

  /* Navigation Bar */
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }
  .navigation .divider_nav {
    display: none;
  }
  .My_name {
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 500;
  }
  .menu {
    margin-top: 0;
    gap: 1.5rem;
  }

  /* Hero Section */
  .hero h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
  }
  .hero p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  /* Our Services */
  .Our_Services {
    width: 100%;
    margin-top: 2rem;
  }
  .hori_divi {
    display: none;
  }

  .Our_Services h3 {
    font-size: 01.1rem;
  }
  .marquee {
    gap: 0rem;
  }

  .images {
    gap: 0rem;
  }
  .marquee img {
    margin: 0 2rem;
  }

    .divider_nav_dark{
      width: 100%;
      height: 1px;
      background-color: var(--secondary_color);
    }

  /* What we do */
  .what_we_do{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0;
    position: relative;
    padding: 4rem 0 2rem 0;
  }
  .what_we_do .text_head{
    font-family: 'Roboto Mono', monospace;
    display:inline;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    word-spacing: -3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 0 1rem 0 0rem;
    color: var(--secondary_color);
  }
  .what_we_do .divider_nav_vertical{
    width: 1px;
    background-color: var(--secondary_color);
    margin: 0 2rem 0 2rem;
  }

  .we_do{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .container1{
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  .container1 .divider_nav{
    width: 2px;
  }
  .container1 .dividernav{
    display: none;
  }
  .what_we_do .branding{
    width: 50%;
    margin: 0rem 0 2rem 0;
  }
  .what_we_do .design{
    width: 50%;
    margin: 0rem 0;
  }

  .container2{
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  .container2 .divider_nav{
    width: 2px;
  }
  .what_we_do .branding1{
    margin: 2rem 0;
    width: 50%;

  }
  .what_we_do .design1{
    margin: 2rem 0;
    width: 50%;

  }

  .hori_divider_nav{
    height: 1px;
    width: 100%;
    background-color: var(--secondary_color);
  }
  
  
  .what_we_do h3 {
    display: none;
  }
  .branding img {
    width: 3rem;
    rotate: 45deg;
  }
  .what_we_do h1 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .what_we_do p {
    font-weight: 300;
    font-size: 0.95rem;
    margin-top: 0.5rem;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    opacity: 0.9;
  }
  .design img {
    margin-top: 0.4rem;
    width: 3.6rem;
    rotate: 135deg;
  }
  .branding1 img {
    width: 3.8rem;
  }
  .design1 img {
    margin-top: 0.3rem;
    width: 4rem;
  }

  /* Featured Work */
  .feature_work .divider_nav{
    margin: 3rem 0;
  }
  .work_imag{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2rem;
    grid-template-areas: 
    "a a"
    "b c"
    "d e";
  }
  .featured h2{
    font-size: 3.5rem;
  }
  .featured p{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .work_card{
    margin: 0;
  }
  .work_info h3{
    font-size: 1.8rem;
  }
  .work_info p{
    font-size: 1.1rem;
  }

  .dancing{
    grid-area:a ;
  }
  .Enjoy{
    grid-area:b ;
  }
  .Pure{
    grid-area:c ;
  }
  .Boring{
    grid-area:d ;
  }
  .New{
    grid-area:e ;
  }

  /* Our Services */
  .our_values h1{
  font-size: 3rem;
  }
  .our_values .divider_nav1{
    display: none;
  }
}










/* For Laptop */

@media screen and (min-width: 1200px) {
  body {
    padding: 1rem;
  }
  main {
    padding: 1.5rem 3rem;
    padding-top: 0;
  }

  /* Navigation */
  .navigation {
    margin: 1.5rem 0;
  }


  /* Hero Section */
  .hero {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 4rem;

  }

  .hero_text {
    width: 60%;
    align-items: start;
  }
  .hero h1 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 5rem;
  }
  .hero p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .hero video {
    object-fit: cover;
    width: 50%;
    height: 600px;
    margin: 0;
  }

  /* Our Services */
  .Our_Services {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .horizontan_divider {
    display: block;
    width: 1px;
    height: 3rem;
    margin-top: 1rem;
    padding: 0.4px;
    background-color: var(--secondary_color);
  }

  .Our_Services h3 {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    word-spacing: -0.3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -1rem;
  }
  .marquee {
    width: 87%;
    margin-top: 2rem;
    display: flex;
    gap: 0rem;
    overflow: hidden;
    align-items: center;
    flex-wrap: nowrap;
  }

  .images {
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    gap: 0rem;
    animation: marquee 10s linear infinite both;
  }
  .marquee img {
    width: 5rem;
    margin: 0 3rem;
    object-fit: contain;
  }

  /* What we do */
  .what_we_do{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0;
    position: relative;
    padding: 4rem 0 2rem 0;
    margin: 2rem 0;
  }
  .what_we_do .text_head{
    font-family: 'Roboto Mono', monospace;
    display:inline;
    width: 40%;
    font-size: 1rem;
    font-weight:400;
    text-align: start;
    letter-spacing: 0.1rem;
    /* line-height: 1.5rem; */
    text-transform: uppercase;
    word-spacing: 0rem;
    writing-mode: horizontal-tb;
    text-orientation:sideways-right;
    padding: 0 1rem 0 0rem;
    color: var(--secondary_color);
  }
  .what_we_do .divider_nav_vertical{
    width: 1px;
    background-color: var(--secondary_color);
    margin: 0 2rem 0 2rem;
  }

  .we_do{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .container1{
    display: flex;
    width: 100%;
    gap: 3rem;
  }
  .container1 .divider_nav{
    width: 1.5px;
  }
  .container1 .dividernav{
    display: none;
  }
  .what_we_do .branding{
    width: 50%;
    margin: 0rem 0 2rem 0;
    padding-right: 0;
  }
  .what_we_do .design{
    width: 50%;
    margin: 0rem 0;
  }

  .container2{
    display: flex;
    width: 100%;
    gap: 3rem;
  }
  .container2 .divider_nav{
    width: 1.5px;
  }
  .what_we_do .branding1{
    margin: 2rem 0;
    padding-right: 0;
    width: 50%;

  }
  .what_we_do .design1{
    margin: 2rem 0;
    width: 50%;

  }

  .hori_divider_nav{
    height: 1px;
    width: 100%;
    background-color: var(--secondary_color);
  }
  
  .what_we_do h3 {
    display: none;
  }
  .branding img {
    width: 3rem;
    rotate: 45deg;
  }
  .what_we_do h1 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .what_we_do p {
    font-weight: 300;
    font-size: 0.95rem;
    margin-top: 0.5rem;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    opacity: 0.9;
  }
  .design img {
    margin-top: 0.4rem;
    width: 3.6rem;
    rotate: 135deg;
  }
  .branding1 img {
    width: 3.8rem;
  }
  .design1 img {
    margin-top: 0.3rem;
    width: 4rem;
  }

 
  /* Featured Work */
  .feature_work{
    position: relative;
    display: flex;
    gap: 3rem;
  }
  .feature_work .divider_nav{
    width: 1px;
    margin: 0 0;
  }
  .featured{
    width: 90%;
    height: 100%;
    position: sticky;
    top: 2rem;
  }

  /* Our Values */
  .our_values{
    display: flex;
    margin: 2rem 0;
  }
  .our_image{
    padding: 0 0rem;
  }
  .our_values .divider_nav1{
    display: block;
    width: 1px;
    margin: 2rem 3rem;
    background-color: var(--secondary_color);
  }
  .our_image .divider_nav{
    display: none;
  }
  .our_image h1{
    text-align: start;
    margin: 0 0 0 0;
  }
  .our_image img{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
  }
  .values{
    margin: 2rem 0;
  }


  /* Footer */
  footer{
    display: flex;
    margin: 2rem 0;
  }
  footer .divider_nav{
    width: 1px;
  }
  .info{
    margin: 2rem 0;
    width: 40%;
  }
  .info h1{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .info p{
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 4rem;
  }
  .country{
    display: flex;
    gap: 1rem;
  }
  .country h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: var(--secondary_color) solid 1px;
  }
  .foot_lin{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    margin: 0 2rem;
  }
  .foot_lin .divider_nav{
    width: 1px;
  }
  .foot{
    display: block;
    width: 100%;
    /* margin: 2rem 0; */
  }
  .foot h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  .foot p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .foot h4{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background-color: var(--secondary_color);
    padding: 0.6rem 1rem;
    color: var(--primary_color);
    border-radius: 5px;
    width: 65%;
    margin-top: 2rem;
  }

  .last{
    display: flex;
    justify-content: space-between;
  }

}
