* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
$p_color: #ffeded;
$s_color: #3f0000;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", serif;
  color: $s_color;
}
p {
  font-family: "Poppins", sans-serif;
  color: $s_color;
}

body {
  background-color: $p_color;
}
main {
  //   margin: 1rem;
  overflow: hidden;
  width: 100%;
}

// Navogation
.main-nav {
  width: initial;
  nav {
    // margin: 1rem;
    width: 100%;

    .topnav {
      padding: 1rem;
      position: fixed;
      top: 0;
      padding-top: 1rem;
      z-index: 999;
      display: flex;
      width: 100%;
      align-items: center;
      gap: 1rem;
      background-color: $p_color;
      padding-bottom: 0.5rem;
      border-bottom: #3f00001b solid 1px;

      img {
        width: 8%;
        object-fit: contain;
      }
      h1 {
        font-size: 1.8rem;
        font-weight: 800;
      }
      .divider {
        height: 01px;
        width: 1rem;
        background-color: $s_color;
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        opacity: 0.4;
      }
      .menu {
        display: none;
      }
    }
    .downnav {
      display: flex;
      position: fixed;
      justify-content: space-around;
      width: 100%;
      // gap: 4rem;
      padding: 1rem;
      bottom: 0;
      background-color: #ffe4e4;
      border-top: #3f00001b solid 2px;
      border-radius: 15px 15px 0 0;
      z-index: 99;
      img {
        object-fit: contain;
        width: 5%;
      }
    }
  }
}

// Hero
.hero {
  width: 100%;
  min-height: 100vh;
  //   position: relative;
  //   overflow-x: hidden;
  margin-top: -13rem;
  transform: translateY(-5rem);
  .blur {
    position: absolute;
    padding: 10rem;
    background-color: #ff0808;
    opacity: 0.21;
    border-radius: 50%;
    filter: blur(85px);
    z-index: -1;
    top: 8.5rem;
    left: 6rem;
  }
  .hero_text {
    .h_text {
      display: flex;
      align-items: end;
      justify-content: center;
      gap: 1rem;
      padding: 0.4rem;
      position: absolute;
      // margin-left: -2rem;
      h1 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 3rem;
      }
      p {
        font-size: 1rem;
        font-weight: 100;
      }
    }

    .make_ever {
      top: 11rem;
      left: 10rem;
    }
    .styl_wi {
      top: 14.5rem;
      left: 6rem;
    }
    h1 {
      font-size: 4rem;
      font-weight: 900;
      line-height: 3rem;
      top: 18rem;
      left: 8rem;
    }
  }
  .hero_image {
    margin-top: 15rem;

    img {
      width: 30%;
      position: absolute;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.211);
      overflow-x: hidden;
    }
    .white {
      top: 18.5rem;
      left: -4.2rem;
      width: 35%;
    }
    .green {
      top: 23rem;
      left: 11rem;
      width: 45%;
    }

    .brown {
      top: 5.8rem;
      left: 24.5rem;
      width: 33%;
      overflow-x: hidden;
    }
  }
  .black_strip {
    display: flex;
    position: absolute;
    top: 40rem;
    rotate: -4deg;
    width: 100%;
    z-index: 2;
    padding: 0.4rem 1rem;
    background-color: #282828;

    .mstrip {
      display: flex;
      gap: 1rem;
      align-items: center;
      animation: marquee 10s linear infinite both;
      p {
        text-align: center;
        width: 5.3rem;
        color: $p_color;
      }
      .strip_elipse {
        // width: 2%;
        height: 2%;
        padding: 3px;
        border-radius: 20px;
        background-color: $p_color;
      }
    }
    .mstrip2 {
      margin: 0 1rem;
    }
    .mstrip3 {
      margin: 0 1rem;
    }
  }
  .orange_strip {
    display: flex;
    position: absolute;
    top: 43rem;
    rotate: -4deg;
    width: 100%;
    z-index: 2;
    padding: 0.4rem 1rem;
    background-color: #ff5e00;

    .mstrip {
      display: flex;
      gap: 1rem;
      align-items: center;
      animation: marquee 15s linear infinite both;
      p {
        text-align: center;
        width: 5.3rem;
        color: $p_color;
      }
      .strip_elipse {
        // width: 2%;
        height: 2%;
        padding: 3px;
        border-radius: 20px;
        background-color: $p_color;
      }
    }
    .mstrip2 {
      margin: 0 1rem;
    }
    .mstrip3 {
      margin: 0 1rem;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

// For Tablet
@media (min-width: 600px) {
  main {
    padding: 1rem 2rem;
  }
  .main-nav {
  
    nav {
  
      .topnav {
        width: 92.2%;
        padding-bottom: 0.8rem;
      }
      .downnav {
        width: 92.2%;
      }
    }
  }
}

// For laptop
@media (min-width: 1024px) {
  main {
    padding: 2rem 6rem;
  }
  .main-nav {
    nav {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .topnav {
        position: static;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: none;
        img {
          width: 12%;
          object-fit: contain;
        }
        h1 {
          display: none;
        }
        .divider {
          display: none;
        }
        p {
          display: none;
        }
        .menu {
          display: flex;
          gap: 1.9rem;
          p {
            display: inline;
            font-size: 1rem;
            text-transform: capitalize;
            letter-spacing: 0.08rem;
            opacity: 1;
          }
          .shop_menu {
            display: flex;
            gap: 0.5rem;
            img {
              width: 15%;
              object-fit: contain;
            }
          }
        }
      }
      .downnav {
        display: flex;
        position: static;
        align-items: center;
        justify-content: end;
        width: 20%;
        margin-right: 1rem;
        gap: 1.8rem;
        padding: 0rem 0;
        background-color: transparent;
        border-top: none;
        border-radius: 0;
        img {
          object-fit: contain;
          width: 09%;
          
        }
      }
    }
  }
}
