* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #171717;
  --text:#EDEDED;
  --accent:#DA0037;
  --neutral:#444444;
}

::selection{
  background-color: #ff82a17a;
}
html{
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
}
p{
  font-family: "Poppins", sans-serif;
}


/* Mobile */
.mouse-cursor{
  display: none;
}

/* Scroll to top */
.scroll-to-top{
  position: fixed;
  border: 2px solid var(--accent);
  border-radius: 50%;
  padding: 0.2rem;
  z-index: 99;
  margin: 0 1rem 2rem 0;
  bottom: 0;
  right: 0;
}
.scroll-to-top:hover{
  animation: float 2s ease-in-out infinite both;
}
@keyframes float {
  0%{
    margin-bottom: 1rem;
  }
  50%{
    margin-bottom: 2rem;
  }
  100%{
    margin-bottom: 1rem;
  }
}

/* Navigation */
@keyframes menu_hover {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
    color: var(--accent);
  }
}
.menu-link:hover div{
  animation: menu_hover 0.5s ease  1  both;
}
.menu-link:hover a{
  animation: menu_hover 0.5s ease  1  both;
}

/* Hero */
.hero-button--hover{
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid var(--text);
  transition: all ease-in-out 0.3s;
  box-shadow: 0 0 20px #ededed17 ;
  box-shadow: 0 0 20px #ededed17 inset;

}
.hero-button--hover:hover{
  background-color: var(--accent);
  border-radius: 50px;
  border: 2px solid var(--text);
  padding: 1rem 1.5rem;
}
.hero-button--hover:active{
  transform: scale(0.95);
}
.hero-heading{
  text-shadow: 0 5px 10px #0f0f0f61;
}
.hero-view-pricing:hover{
  opacity: 1;
  text-shadow: 0 0 15px #ededed65;
}

/* About Trainer */
.about-trainer::before{
  content: '';
  position: absolute;
  top: 735px; 
  left: 0;
  width:100%;
  height: 200px;
  background: linear-gradient(to top, #171717 0%, rgba(16, 16, 16, 0) 100%);
  z-index:  15; /* Send it behind the content */
}
.about-trainer-title{
  border: 2px solid #75001eFF;
}
.trainer-skills li{
  border: 2px solid var(--text);
  padding: 0.6rem 0.8rem;
  border-radius: 50px ;
}
.trainer-qualities{
  background-color: rgba(235, 235, 235, 0.918);
  border-radius: 5px;
  color: var(--primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}
.trainer-qualities h4{
  font-weight: 800;
  color: var(--accent);
  font-size: 1.5rem;
}

/* Benefits */
.benefits-card-single{
  background-color: #171717;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid #de003717;
  justify-content: center;
  box-shadow: 0px 10px 15px #0000002b;
}
.benefits-card-single img{
  width: 3rem;
}
.benefits-card-single h5{
  font-size: 1rem;
  margin-top: 1rem;
  
}
.benefits-card-single p{
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity: 0.7;
}

/* Pricing */
.pricing-card-single{
  width: 100%;
  background-color: #3f3f3f45;
  border-radius: 10px;
  border: 2px solid #5f5f5f3a;
  box-shadow: 0px 20px 15px #14141418;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
}
.pricing-plan-name{
  padding: 0.1rem 0;
  border-radius: 2px;
  border: 2px solid #75001eFF;
  text-align: center;  
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 70%;
}
.pricing-plan-starter{width: 6rem;}
.pricing-plan-pro{width: 9.7rem;}
.pricing-plan-elite{width: 7.2rem}
.pricing-card-price{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.pricing-card-single ul{
  margin-top: 1rem;
}
.pricing-features{
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.6rem;
}
.pricing-features img{
  width: 1rem;
}
.pricing-button{
  border: 2px solid var(--text);
  padding: 0.8rem;
  border-radius: 50px ;
  margin-top: 0.5rem;
}

/* Testomonial */
.testimonial-card-single{
  color: var(--text);
  background-color: #2b2b2b82;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: 45%; */
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid #3939393a;
  box-shadow: 0px 25px 15px #00000023;
  justify-content: space-between;
}
.testimonial-stars{
  display: flex;
  margin-top: 1rem;
  gap: 0.25rem;
}
.testimonial-stars img{
  width: 1.4rem;
}
.testimonial-user img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: top;
	border-radius: 9999px;
  margin-top: 1.5rem;
}

/* Footer */
.form-inputs{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 50%;
}
.form-inputs input{
  background-color: var(--text);
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  color: var(--primary);
  width: 100%;
}
.email-inputs{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  
}
input{
  border: 2px solid transparent; 
  outline: none; 
  padding: 0.2rem 0.4rem;
}
input:focus {
  border: 2px solid var(--accent); 
  outline: none; 
}
textarea:focus {
  border: 2px solid red;
  outline: none; /* Optional, hides the default blue glow in some browsers */
}
textarea {
  background-color: red;
  border: 2px solid transparent;
  outline: none; /* Optional, hides the default blue glow in some browsers */
}
.form-submit{
  border: 2px solid var(--text);
  padding: 0.8rem;
  border-radius: 50px ;
  transition: all 0.3s ease;
}
.form-submit:hover{
  background-color: var(--accent);
}


@media(min-width:768px){
  .about-trainer::before{
    top: 1080px; 
  }
}


@media (min-width:1024px) {
.mouse-cursor{
  transition: all 0.1s linear ;
  box-shadow: 0 0px 10px rgba(14, 14, 14, 0.575);
}
/* Scroll to top */
.scroll-to-top{
  margin: 0 1rem 1rem 0;
}

/* Navigation */
.menu-link{
  transition: all ease-in 2s;
  font-weight: 600;
}

/* About Trainer */
.about-trainer::before{
  top: 600px; 
}
.trainer-qualities{
  border-radius: 10px;
}

/* Benefits */
.benefits-card-single{
  width: 30%;
}

/* Pricing */
.pricing-card-single ul{
  margin-top: 1.5rem;
}
.pricing-button{
  margin-top: 1rem;
}

/* Testomonial */
.testimonial-stars{
  display: flex;
  margin-top: 1rem;
  gap: 0.25rem;
}

/* Footer */
.form-inputs input{
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

input{
  padding: 0.5rem 0.8rem;
}

textarea:focus {
  border: 2px solid red;
  outline: none; /* Optional, hides the default blue glow in some browsers */
}
textarea {
  border: 2px solid transparent;
  outline: none; /* Optional, hides the default blue glow in some browsers */
}

.form-submit{
  border: 2px solid var(--text);
  padding: 0.8rem;
  border-radius: 50px ;
  transition: all 0.3s ease;
}
.form-submit:hover{
  background-color: var(--accent);
}

}